@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="~/js/client/styles.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
<script src="~/js/client/runtime.js"></script>
<script src="~/js/client/polyfills.js"></script>
<script src="~/js/client/vendor.js"></script>
<script src="~/js/client/main.js"></script>
</body>
</html>
